<h1>Edit Contact</h1>
<%= form_tag "/contacts/#{@contact.id}", method: :patch do %>
  <div class="form-group">
    <%= label_tag :first_name %>
    <%= text_field_tag :first_name, @contact.first_name, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= label_tag :middle_name %>
    <%= text_field_tag :middle_name, @contact.middle_name, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= label_tag :last_name %>
    <%= text_field_tag :last_name, @contact.last_name, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= label_tag :age %>
    <%= text_field_tag :age, @contact.age, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= label_tag :gender %>
    <%= text_field_tag :gender, @contact.gender, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= label_tag :diary %>
    <%= text_field_tag :diary, @contact.diary, class: 'form-control' %>
  </div>
  <div>
    <%= submit_tag "Edit contact", class: 'btn btn-success' %>
  </div>
<% end %>
<%= form_tag "/contacts", method: :get do %>
  <%= submit_tag "Cancel", class: 'btn btn-danger' %>
<% end %>